<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">
            <a class="title" href="/">RAD Smoothies</a>
          </h1>
          <p class="lead">Welcome to the raddest smoothies in Vancouver</p>
        </div>
        <div class="nav">
          <a href="/">Home</a>
          <a href="/smoothies">Menu</a>
          <a class="cart-icon" href="/orders/new">Cart</a>
        </div>
      </div>
    <% if (locals.error) { %>
    <div class="alert alert-warning" role="alert">
      <strong>Whoops!</strong> <%= error.message %>
    </div>
    <% } %>
</header>