<!DOCTYPE html>
<html>
<head>
  <% include ./_headpartial %>
</head>
<header>
  <% include ./_headerpartial %>
</header>
<% include ./_navbar %>
<body>
  <img src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/DSC03578.jpeg" class="img-fluid" alt="Responsive image">
  <p class="about-us">
    RAD is overwhelmingly vegetarian, gluten-free, organic when possible, and always uses 100% whole fruits and vegetables. Simply said, we are a “I want to eat healthy and feel great and put it in my face hole” type place, offering yummies like our RADrainbow Super Smoothie with local mermaids, or our superfoods cash money mix, with spinach, organic quinoa and fresh-juiced lemon and real stacks of Drake’s cash that he couldn’t spend at Parq casino. In season we purchase directly from local farms on Salt Spring Island from a dude who played in the Guess Who. We take great pride in our social outreach programs where we provide liquified foods to seismically-deficient schools in the Greater Vancouver Area. We are truly delighted to create great-tasting, super-nutritious smoothies – A little taste of commercial drive with a Kitsilano tax bracket!
  </p>
</div>
  <% include ./_footerpartial %>
