<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./_headpartial %>
  </head>
  <body class="order-confirmation-page">
        <h1 class="confirmation-info">Order Confirmation</h1>
        <p class="confirmation-info">Thank you for ordering</p>
        <p class="confirmation-info">ORDER ID: # :id</p>
        <p class="confirmation-info">RAD will send a confirmation of accepting the order</p>



<% include ./_footerpartial %>
