<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./_headpartial %>
  </head>
  <body class="order-confirmation-page">
        <h1 class="confirmation-info">RAD Order #<%= id%></h1>
        <h2 class="confirmation-info">is <% if (confirmed) { %> confirmed</h2>
        <p class="confirmation-info">Pickup your smoothies at <%= ready_at%></p>
        <% } else { %> pending</h2>
        <p class="confirmation-info">Please wait while we review your order. You will revieve a sms when your order is confirmed.</p>
        <% } %>
