<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./_headpartial %>
  </head>
  <body>
    <h1>Order Confirmation<h1>

    <h3>Thank you for ordering</h3>

    <h4>ORDER #:id</h4>

    <p>RAD will send a confirmation of accepting the order</p>


<% include ./_footerpartial %>
