<!DOCTYPE html>
<html>

<head>
  <% include ./_headpartial %>
</head>
<header>
    <% include ./_headerpartial %>
</header>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">RAD Smoothies</h1>
      <p class="lead">Welcome to the raddest smoothies in Vancouver</p>
    </div>
  </div>
  <section class="body-container">
    <h3>Menu</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Extreme C.png" alt="Extreme C">
          <div class="card-body">
            <h5 class="card-title">Extreme C Juice</h5>
            <p class="card-text">Extreme as Vitamin C</p>
            <button>Add to Cart</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Cloudy Apple.png" alt="Cloudy Apple">
          <div class="card-body">
            <h5 class="card-title">Cloudy Apple Juice</h5>
            <p class="card-text">The freshest apples from Okanagen trees</p>
            <button>Add to Cart</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Go Fusion.png" alt="Go Fusion">
          <div class="card-body">
            <h5 class="card-title"> Go Fusion Juice</h5>
            <p class="card-text">If you're feeling like more than one flavor...</p>
            <button>Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Green Power.png" alt="Extreme C">
            <div class="card-body">
              <h5 class="card-title">Green Power</h5>
              <p class="card-text">Green as juice</p>
              <button>Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Karmarama.png" alt="Cloudy Apple">
            <div class="card-body">
              <h5 class="card-title">Karmarama Juice</h5>
              <p class="card-text">Liquid Good Karma</p>
              <button>Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Radical Action.png" alt="Go Fusion">
            <div class="card-body">
              <h5 class="card-title">Radical Action Juice</h5>
              <p class="card-text">RAD Action</p>
              <button>Add to Cart</button>
            </div>
          </div>
        </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
    crossorigin="anonymous"></script>
</body>
<!-- <footer class="container">
  <p>Contact Us</p>
</footer> -->
</html>
