<!DOCTYPE html>
<html>

<head>
  <% include ./_headpartial %>
</head>
<header>
    <% include ./_headerpartial %>
</header>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">RAD Smoothies</h1>
      <p class="lead">Welcome to the raddest smoothies in Vancouver</p>
    </div>
  </div>
  <section class="body-container">
    <h3>Menu</h3>
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Extreme C.png" alt="Extreme C">
          <div class="card-body">
            <h5 class="card-title">Extreme C Juice</h5>
            <p class="card-text">Extreme as Vitamin C</p>
            <button class="add-item-btn">Add to Cart</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Cloudy Apple.png" alt="Cloudy Apple">
          <div class="card-body">
            <h5 class="card-title">Cloudy Apple Juice</h5>
            <p class="card-text">The freshest apples from Okanagen trees</p>
            <button class="add-item-btn">Add to Cart</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Go Fusion.png" alt="Go Fusion">
          <div class="card-body">
            <h5 class="card-title"> Go Fusion Juice</h5>
            <p class="card-text">If you're feeling like more than one flavor...</p>
            <button class="add-item-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Green Power.png" alt="Extreme C">
            <div class="card-body">
              <h5 class="card-title">Green Power</h5>
              <p class="card-text">Green as juice</p>
              <button class="add-item-btn">Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Karmarama.png" alt="Cloudy Apple">
            <div class="card-body">
              <h5 class="card-title">Karmarama Juice</h5>
              <p class="card-text">Liquid Good Karma</p>
              <button class="add-item-btn">Add to Cart</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://s3.ca-central-1.amazonaws.com/rad-lighthouselabs/Radical Action.png" alt="Go Fusion">
            <div class="card-body">
              <h5 class="card-title">Radical Action Juice</h5>
              <p class="card-text">RAD Action</p>
              <button class="add-item-btn">Add to Cart</button>
            </div>
          </div>
        </div>
  </section>

<% include ./_footerpartial %>
