$font-stack: 'Amatic SC', cursive;
$second-color: #a1d0e2; // light blue
$third-color: #e9ecef; // light grey
$default-color: white;
$test-color: red;

body {
  font: 100% $font-stack;
  background-color: $default-color;

  .body-container {
    margin: 1em;
  }
  .card-deck {
    margin: 15px;
  }
  .card {
    padding: 1em;
  }
}

h1 {
  font-family: $font-stack;
}

.card-img-top {
  width: 5em;
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

p.about-us {
  padding: 2em;
  margin-top: 0;
  margin-bottom: 1rem;
}

.jumbotron {
  background-color: $second-color;
}

.add-item-btn {
  width: 100%;
  border: 1px;
  padding: .5em;
}

.item-image {
  width: 5em;
}

.row {
  margin: 0.5em;
}

.price {
  margin-left: 2em;
}

.col-xs-12 {
    border: 1px solid lightgrey;
    width: 100%;
}

/* Run npm start for sass --watch (automatic updating and compiling to CSS file) */
