$main-font: 'Amatic SC', cursive;
// $second-font:'Rubik', sans-serif;
// $second-font:'Open Sans Condensed', sans-serif;
$second-font: 'Quicksand', sans-serif;
$second-color: #a1d0e2; // light blue
$third-color: #e9ecef; // light grey
$default-color: white;
$test-color: red;

.title:hover {
  text-decoration: none;
  color: black;
}


.title {
  color: black;
  // font-weight: bold;
  font-size: 2em;
}

@media all and (max-width: 600px) {
  .title {
    font-size: 1em;
  }
}

body {
  font: 100% $second-font;
  background-color: $default-color; 
  font-size: 1em;

  .body-container {
    margin: 0, 1em, 1em;
  }
  .card-deck {
    margin: 15px;
  }
  .card {
    padding: 1em;
  }

}

.nav {
  justify-content: space-around;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 99;
  background-color: $default-color;
  padding: 1em 0em;
  margin-top: -1px;
}

.nav a {
  font-size: 1.5em;
  color: black;
}

.nav a:hover {
  color: #090909;
  text-decoration: none;
}

p.lead {
  text-align: center;
  font-size: 2em;
}

h1 {
  font-family: $main-font;
  text-align: center;
  padding: 1em 0em;
  background-color: $default-color;
  margin-bottom: 0px;
}

footer {
  text-align: center;
  padding: 1em;
}

p.about-us {
  padding: 4em;
  margin-top: 0;
  margin-bottom: 1rem;
}

.about-us {
  text-align: center;
  padding-bottom: 1em;
}

//------------------------------------------------
// MENU PAGE
//------------------------------------------------
.card:hover {
  opacity: 0.7;
}

.card-img-top {
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.add-item-btn {
  width: 100%;
  border: 1px solid $third-color;
  background: $third-color;
  padding: .5em;
  bottom: 0;
  position: absolute;
  margin-left: -36px;
}
//------------------------------------------------
//  CART
//------------------------------------------------

.shopping-cart-title {
  font-family: $second-font;
  font-size: 1.75rem;
}
.cart-labels {
  border-bottom: 0.5px solid $third-color;
  padding: 0.5em 0em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label {
  margin-right: 0.5em;
}

.item-label {
  margin-left: 1em;
}

img.item-image {
  padding: 0.5em;
  width: 15em;
  margin-top: 15px;
}

.row {
  margin: 0.5em;
  border-bottom: 0.5px solid $third-color;
}

.price {
  margin-right: 0em;
}

.col-xs-12 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.description {
  position: absolute;
  top: 0px;
  left: 7px;
}

.checkout-btn {
  border-radius: 0px;
  border: 1px solid $third-color;
  background-color: $third-color;
}

#checkout {
  border: 1px solid $third-color;
  background: $third-color;
  border-radius: 0px;
}

.total-table {
  text-align: right;
  margin-right: 0.5em;
  .total {
    font-weight: bold;
    padding: 0.5em 0em;
  }
  // .subtotal {
  //   padding: 0.2em 0em;
  // }
}

@media all {
  span.quantity {
  font-size: 1.2em;
  display: inline-flex;
  }
}

@media  {
// need to change img size for the phone 
}
span.smoothie-quantity {
  margin: 0px 4px;
  align-self: center;
}

.btn-outline-secondary {
  border-color: $third-color;
}

.btn-outline-secondary:hover {
  color: $default-color;
  background-color: $third-color;
  border-color: $third-color;
}

input.btn.btn-primary {
  background-color:$second-color;
  border: solid $second-color;
}

button.checkout-btn.btn.fixed-bottom.btn-lg.btn-block {
  position: sticky;
  bottom: 0px;
}


//------------------------------------------------
// ORDER CONFIRMATION PAGE
//------------------------------------------------
.order-confirmation-page {
  background-color: $default-color;
  padding: 5em 0em;
  .confirmation-info {
    text-align: center;
  }
  h1.confirmation-info {
    margin-top: 2em;
    font-size: 4em;
  }

  h3.confirmation-info {
    padding: 1em 0em;
  }
}