$font-stack:    'Amatic SC', cursive;
$primary-color: white;
$second-color: #a1d0e2;
$third-color: #e9ecef;

body {
  font: 100% $font-stack;
  background-color: $third-color;
}

h1 {
  font-family: $font-stack;
}

.card-img-top {
  width: 5em;
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-deck {
  margin: 15px;
  background-color: $third-color;
}

.card {
  background-color: $third-color;
}

p.about-us {
  padding: 2em;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin-left: 1em;
}

.jumbotron {
  background-color: $second-color;
}

