$font-stack: 'Amatic SC', cursive;
$second-color: #a1d0e2; // light blue
$third-color: #e9ecef; // light grey
$default-color: white;
$test-color: red;

body {
  font: 100% $font-stack;
  background-color: $default-color; 

  .body-container {
    margin: 1em;
  }
  .card-deck {
    margin: 15px;
  }
  .card {
    padding: 1em;
  }
}

.jumbotron {
  background-color: $second-color;
}

h1 {
  font-family: $font-stack;
}
//------------------------------------------------
// MENU PAGE
//------------------------------------------------
.card:hover {
  opacity: 0.7;
}

.card-img-top {
  width: 5em;
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

p.about-us {
  padding: 2em;
  margin-top: 0;
  margin-bottom: 1rem;
}

.add-item-btn {
  width: 100%;
  border: 1px solid $third-color;
  background: $third-color;
  padding: .5em;
  bottom: 0;
  position: absolute;
  margin-left: -36px;
}
//------------------------------------------------
//  CART
//------------------------------------------------
.cart-labels {
  border-bottom: 0.5px solid $third-color;
  padding: 0.5em 0em;
}

.price-label {
  float: right;
  margin-right: 0.5em;
}

.price {
  float: right;
  margin-top: 2em;
}
.qty-label {
  margin-left:10em;
}

.item-label {
  float: left;
  margin-left: 1em;
}

img.item-image {
  padding: 0.5em;
  width: 5em;
}

.row {
  margin: 0.5em;
}

.price {
  margin-left: 2em;
}

.col-xs-12 {
  width: 100%;
  border-bottom: 0.5px solid $third-color;
}

.checkout-btn {
  border-radius: 0px;
}

#checkout {
  border: 1px solid $third-color;
  background: $third-color;
  border-radius: 0px;
}
//------------------------------------------------
// ORDER CONFIRMATION PAGE
//------------------------------------------------
.order-confirmation-page {
  background-color: $second-color;
  padding: 5em 0em;
  .confirmation-info {
    text-align: center;
  }
  h1.confirmation-info {
    margin-top: 2em;
    font-size: 4em;
  }

  h3.confirmation-info {
    padding: 1em 0em;
  }
}

/* Run npm start for sass --watch (automatic updating and compiling to CSS file)
must run this in /vagrant/midterm-project/RAD/planningFiles/FEpages */
