h1 {
  font-family: 'Amatic SC', cursive;
}

.card-img-top {
  width: 5em;
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-deck {
  margin: 15px;
}

p.about-us {
  padding: 2em;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin-left: 1em;
}