.title:hover {
  text-decoration: none;
  color: black; }

.title {
  color: black;
  font-size: 2em; }

@media all and (max-width: 600px) {
  .title {
    font-size: 1em; } }

body {
  font: 100% "Quicksand", sans-serif;
  background-color: white;
  font-size: 1em; }
  body .body-container {
    margin: 0, 1em, 1em; }
  body .card-deck {
    margin: 15px; }
  body .card {
    padding: 1em; }

.nav {
  justify-content: space-around;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 99;
  background-color: white;
  padding: 1em 0em;
  margin-top: -1px; }

.nav a {
  font-size: 1.5em;
  color: black; }

.nav a:hover {
  color: #090909;
  text-decoration: none; }

p.lead {
  text-align: center;
  font-size: 2em; }

h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  padding: 1em 0em;
  background-color: white;
  margin-bottom: 0px; }

footer {
  text-align: center;
  padding: 1em; }

p.about-us {
  padding: 4em;
  margin-top: 0;
  margin-bottom: 1rem; }

.about-us {
  text-align: center;
  padding-bottom: 1em; }

.card:hover {
  opacity: 0.7; }

.card-img-top {
  align-self: center;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px); }

.add-item-btn {
  width: 100%;
  border: 1px solid #e9ecef;
  background: #e9ecef;
  padding: .5em;
  bottom: 0;
  position: absolute;
  margin-left: -36px; }

.shopping-cart-title {
  font-family: "Quicksand", sans-serif;
  font-size: 1.75rem; }

.cart-labels {
  border-bottom: 0.5px solid #e9ecef;
  padding: 0.5em 0em;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.price-label {
  margin-right: 0.5em; }

.item-label {
  margin-left: 1em; }

img.item-image {
  padding: 0.5em;
  width: 15em;
  margin-top: 15px; }

.row {
  margin: 0.5em;
  border-bottom: 0.5px solid #e9ecef; }

.price {
  margin-right: 0em; }

.col-xs-12 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }

.order-row-left {
  width: 33.333%;
  text-align: left; }

.order-row-right {
  width: 33.333%;
  text-align: right; }

.order-row-center {
  width: 33.333%;
  text-align: center; }

.checkout-btn {
  border-radius: 0px;
  border: 1px solid #e9ecef;
  background-color: #e9ecef; }

#checkout {
  border: 1px solid #e9ecef;
  background: #e9ecef;
  border-radius: 0px; }

.total-table {
  text-align: right;
  margin-right: 0.5em; }
  .total-table .total {
    font-weight: bold;
    padding: 0.5em 0em; }

@media all {
  span.quantity {
    font-size: 1.2em;
    display: inline-flex; } }

span.smoothie-quantity {
  margin: 0px 4px;
  align-self: center; }

.btn-outline-secondary {
  border-color: #e9ecef; }

.btn-outline-secondary:hover {
  color: white;
  background-color: #e9ecef;
  border-color: #e9ecef; }

input.btn.btn-primary {
  background-color: #a1d0e2;
  border: solid #a1d0e2; }

button.checkout-btn.btn.fixed-bottom.btn-lg.btn-block {
  position: sticky;
  bottom: 0px; }

.order-confirmation-page {
  background-color: white;
  padding: 5em 0em; }
  .order-confirmation-page .confirmation-info {
    text-align: center; }
  .order-confirmation-page h1.confirmation-info {
    margin-top: 2em;
    font-size: 4em; }
  .order-confirmation-page h3.confirmation-info {
    padding: 1em 0em; }
